@charset "UTF-8";

header {
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: blue;
}

/* main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
} */

.sidebar {
    bottom: 0;
    left: 0;
    width: 100px;
    background-color: lightgray;
}

.table {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 48px;
    background-color: lightgray;
}


/***** ログイン *****/

.login_form_block {
    position: relative;
    height: 100vh;
    text-align: center;
}

.login_form_inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 300px;
    margin: auto;
}

.login_field {
    width: 380px;
    height: 30px;
    margin-bottom: 10px;
}

.login_button {
    width: 380px;
    height: 40px;
    margin-bottom: 10px;
    background-color: lightblue;
    color: white;
}