<!DOCTYPE html>
<html lang="ja-JP"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<head>
<th:block th:include="common/header"></th:block>
<script th:inline="javascript">
<!--
-->
</script>
</head>
<body>
  <div id="wrapper">
    <header class="g-header login-header"></header>
    <main>
    <div>&nbsp;</div>
    <div id="errBox" style="width:350px;margin:0 auto;margin-bottom: 500px ;min-height:30%;">
    	<div id="messageTitle" style="margin-top:80px;">
		<h3>[[#{error_occurred}]]</h3>
	</div>
	<div id="errMsg" style="color: red;">
		[[${#request.getAttribute('ERROR_MSG')}]]
		[[#{error_try_again}]]
	</div>
	<div class="iu-box-popup-footer boxPos" style="margin-top: 20px;">
		<button class="btn blue" th:text="#{label_back}" onclick="history.back();"></button>
	</div>
    </div>
    </main>
    <!-- footer -->
	<footer th:include="common/footer_sp :: footer_sp" class="g-footer"></footer>
  </div>
</body>
</html>